{% extends "master.njk" %}

{% block projectTitle %}

    Nunjucks -
    {# Name of the project #}

    {% block title %}{% endblock %}
    {# Name of the page (link) inside the project #}

{% endblock %}